{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <head>
        <h1>Class: {{ schoolclass.name }}</h2>
        <h3>Teacher: {{ schoolclass.teacher }}</h3>
        <link rel="stylesheet" href="{% static 'css/schoolclass.css' %}">
    </head>

    <div class="delete">
        {% if request.user.is_teacher and  request.user == schoolclass.teacher %}
        <form method="POST" action="{% url 'view_schoolclass' pk %}">
            {% csrf_token %}

            <input class="btn btn-danger btn-lg" name = "submit" type="submit" value="Delete Class"></input>

        </form>
        {% endif %}

    </div>
</div>

{% endblock %}