{% extends 'base.html' %}

{% block css %}
<style>

body {
    {% comment %} Star vector created by vectorpouch  {% endcomment %}
    background-image: url(/media/background_img/planets-space-illustration.jpg);
    background-position: center;
    font-family: 'Saira Semi Condensed';
    font-size: 16px;
}

label {
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
}

</style>
{% endblock css %}

{% block content %}
<div class="form-container"
    <head>
        <h1>Login</h1>
        <hr>
    </head>

    <body>

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

        {{ login_form }}
        <hr>
        <button type="submit">Login</button>

    </form>

    </body>
</div>

{% endblock %}