{% extends 'base.html' %}

{% block content %}

<div class='container'>

    <body>
        Teacher: {{ schoolclass.teacher }}
        {% if students %}
            <table id = "students-table" class="table table-condensed table-hover table-striped ng-table">
                <tr class = "table_header">
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                <tr>
            
                {% for student in students %}
                <tr>
                    <td class = "name">{{ student.first_name }} {{ student.last_name }}</td>
                    <td class = "username">{{ student.username }}</td>
                    <td class = "email">{{ student.email }}</td>
                </tr>
                
                {% endfor %}

            </table>
        {% else %}
            There are no students in this class
        {% endif %}
    </body>

</div>
{% endblock  %}