body {
    /* Image by pencil parker on Pixabay */
    background-image: url(/media/background_img/doodle_astronaut.jpg);
    background-size: 100%;
    font-family: 'Saira Semi Condensed';
    font-size: 16px;
}

div.search {
    width: 100%;
    border: 3px solid #949599;
    border-radius: 14px;
    padding: 20px;
    background-color: #ffffffcb;
}

input.submitbtn {
    border-radius: 6px;
    background-color: #5aa8f7;
    color: white;
    width: 70px;
    height: auto;
    padding: 5px;
}

div.results {
    margin-top: 20px;
}

#enrollment-table{
    background-color: white;
}

h1,h2,h3 {
    color: black;
  }