* {box-sizing: border-box}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  border: 3px solid #949599;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #5aa8f7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

div.container {
  max-width:1000px;
  margin: auto;
  overflow: auto;
  padding: 30px;
}

div.form-container {
  max-width:500px;
  margin: auto;
  overflow: auto;
  padding: 20px;
}

div.top-nav {
  font-family: 'Saira Semi Condensed';
  font-size: 16px;
}

div.top-nav-right {
  float: right;
}

.top-nav-right a {
  float: left;
  color: #5aa8f7;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
}

.top-nav-right a:hover {
  background-color: #5aa8f7;
  color: black;
}

div.object-box {
  margin: center;
  border: 3px solid #949599;
  border-radius: 14px;
  height: auto;
  width: 100%;
  max-width:1000px;
  margin-bottom: 20px;
  background-color: white;
}

div.object-name-box {
  background: #5aa8f7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 60px;
  width: 100%;
  color: black;
  font-size: 20px;
}

img.icon {
  margin-bottom:4px;
  height:17px;
  width:17px;
}

button.createbtn {
  border-radius: 14px;
  width: 60px;
  height: 60px;
  float: right;
  background-color: red;
  font-size: 25px;
  padding: 0px;
}