<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>PaceSpace</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- base css --> 
  {% load static %}
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Saira Semi Condensed'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
  <!-- base css -->
  {% block css %}
  {% endblock %}

</head>
<body>
<!-- navbar -->


    {% block content %}
    {% endblock %}


  <!-- base javascript -->
    {%block javascript%}
    {% endblock %}
</body>
</html>