<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to PaceSpace!</title>

    <link   rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

    <link   href="{% static 'css/index.css' %}" rel="stylesheet">

</head>
<body>

    <div class="container center-screen">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="welcome">Welcome to PaceSpace!</h1>
                        <div role="group" class="btn-group">
                            <!-- Only Signup is done. Login and Dashboard will be created later -->
                            <a class="btn btn-outline-light" href="/signup" role="button">Sign Up</a>
                            <a class="btn btn-outline-light" href="/login" role="button">Log In</a>
                            <a class="btn btn-outline-light" href="/dashboard" role="button">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
