{% extends 'base.html' %}
{% load static %}


{% block content %}
<head>
    <title>Welcome to PaceSpace!</title>
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
</head>
<body>

    <div class="container center-screen">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="welcome">Welcome to PaceSpace!</h1>
                        <div role="group" class="btn-group">
                            
                            {% if user.is_authenticated %}
                            <a class="btn btn-outline-light" href="/dashboard" role="button">Enter Dashboard</a>
                            
                            {% else %}
                            <a class="btn btn-outline-light" href="/signup" role="button">Sign Up</a>
                            <a class="btn btn-outline-light" href="/login" role="button">Log In</a>
                            
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock content %}