{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <head>
        <h1>{{ user.first_name }}'s Dashboard</h1>
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    </head>

    <body>

        <div class="schoolclass">
            <h3><a href={% url 'all_schoolclass' %}>Classes </a></h3>
            <ul class="list-group">
                {% for class in classes %}
                <li class="list-group-item"><a href={% url 'view_schoolclass' class.pk %}>{{ class.name }} </a></li>
                {% endfor %}
            </ul>
        </div>

        {% comment %} <div class="mission">
            {% for schoolclass in all_mission %}
                <a href={% url 'view_schoolclass' schoolclass.pk %}>{{schoolclass}}</a>
                {% for mission in class %}
                    {% if mission.pk is not None %}
                        <div class="object-box">
                            <a href={% url 'view_mission' %}>{{mission.name}}</a>
                        </div>
                    {% else %}
                        <p>There are no missions!</p>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div> {% endcomment %}

    </body>
</div>

{% endblock content %}
