<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to PaceSpace!</title>

    <link   rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

    <link   href="{% static 'css/dashboard.css' %}" rel="stylesheet">

</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>You are logged in as {{ user_name }} ({{ user_type }})</h1>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>

</body>
</html>
