{% extends 'base.html' %}

{% block content %}

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h3>You are logged in as {{ user_name }} ({{ user_type }})
                <hr>
                <h3><a href={% url 'all_schoolclass' %}>Classes </a></h3>
                <ul class="list-group">
                    {% for class in classes %}
                    <li class="list-group-item"><a href={% url 'view_schoolclass' class.pk %}>{{ class.name }} </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>

{% endblock content %}
