<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- base css --> 
    {% load static %}
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Saira Semi Condensed'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- app css -->
    {% block css %}
    {% endblock %}

</head>

<body>
<!-- make a navbar here -->
    <title>PaceSpace</title>
    
    <!-- app title -->
    {% block app_title %}
    {% endblock %}
    <hr>


    <!-- app html -->
    {% block content %}
    {% endblock %}


    <!-- app javascript -->
    {% block javascript %}
    {% endblock %}
</body>
</html>