{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <head>
        <h1>Missions</h1>
        <link rel="stylesheet" href="{% static 'css/mission.css' %}">
    </head>

    <body>
    {% comment %} To Do {% endcomment %}
    {% if all_mission %}
        <div class="object-box">              
                <div class='mission-list'>
                    <table id = "mission-table" class="table table-condensed table-hover table-striped ng-table">
                        <tr class = "table_header">
                            <th>Name</th>
                            <th>Class</th>
                            <th>Date Due</th>
                        <tr>
                        {% for mission in all_mission %}
                        <tr>
                            <td class = "name"><a class='mission' href={% url 'view_mission' mission.pk %}>{{mission.name}}</a></td>
                            <td class = "schoolclass"><a class='schoolclass' href={% url 'view_schoolclass' mission.schoolclass.pk %}>{{mission.schoolclass.name}}</a></td>
                            <td class = "date_due">{{mission.date_due}}</td>
                        <tr>
                        {% endfor %}
                    </table>
                </div>
                
            </div>
            


    {% else %}
        <p>There are no missions!</p>
    {% endif %}
    </body>

</div>
{% endblock content %}