{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <head>
        <h1>{{ user.first_name }}'s Dashboard</h1>
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    </head>

    <body>

        <div class="schoolclass">
            <h3><a href={% url 'all_schoolclass' %}>Classes </a></h3>
            {% if classes %}
            <ul class="list-group">
                {% for class in classes %}
                <li class="list-group-item"><a href={% url 'view_schoolclass' class.pk %}>{{ class.name }} </a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>There are no classes!</p>
            {% endif %}
        </div>

        <div class="schoolclass">
            <h3><a href={% url 'all_mission' %}>Missions </a></h3>
            {% if all_mission %}
                <ul class="list-group">
                    {% for mission in all_mission %}
                        <li class="list-group-item"><a href={% url 'view_mission' mission.pk %}>{{ mission.name }} </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no missions!</p>
            {% endif %}
        </div> 

    </body>
</div>

{% endblock content %}
